/* line 1, /home/adam/development/rci/static/css/styles.sass */
html, body {
  height: 100%; }

/* line 3, /home/adam/development/rci/static/css/styles.sass */
body {
  background-color: #555;
  font-family: "Oxygen", sans-serif; }

/* line 6, /home/adam/development/rci/static/css/styles.sass */
#main_content {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 50px; }

/* line 11, /home/adam/development/rci/static/css/styles.sass */
#footer {
  height: 50px;
  padding: 25px;
  color: #fff; }

/* line 15, /home/adam/development/rci/static/css/styles.sass */
.helper-div {
  background-color: #fff; }

/* line 17, /home/adam/development/rci/static/css/styles.sass */
.jumbotron, .card {
  border-radius: 0px;
  margin-bottom: 0; }

/* line 20, /home/adam/development/rci/static/css/styles.sass */
.card-list .card {
  border: none;
  border-right: 2px solid #5cb85c; }

/* line 23, /home/adam/development/rci/static/css/styles.sass */
.card-list .card.card-last {
  border-right: none; }

/* line 25, /home/adam/development/rci/static/css/styles.sass */
.no-gutter {
  padding: 0 15px; }

/* line 27, /home/adam/development/rci/static/css/styles.sass */
.div-divider {
  height: 55px; }

/* line 29, /home/adam/development/rci/static/css/styles.sass */
.header-divider {
  margin: 0;
  padding: 10px 0; }

/* line 32, /home/adam/development/rci/static/css/styles.sass */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/* line 35, /home/adam/development/rci/static/css/styles.sass */
.navbar-brand {
  margin-right: 50px;
  line-height: 3rem;
  font-size: 3rem; }

/* line 39, /home/adam/development/rci/static/css/styles.sass */
.nav-link {
  transition: color 0.2s; }

/* line 41, /home/adam/development/rci/static/css/styles.sass */
.card {
  border: none; }

/* line 43, /home/adam/development/rci/static/css/styles.sass */
.carousel-item img {
  margin-top: -50px; }

/* line 45, /home/adam/development/rci/static/css/styles.sass */
.bg-dark {
  color: #fff;
  background-color: #555; }

/* line 48, /home/adam/development/rci/static/css/styles.sass */
.nav {
  line-height: 3rem;
  font-size: 1.3rem; }

/* line 51, /home/adam/development/rci/static/css/styles.sass */
.social-media-icon {
  max-height: 50px;
  -webkit-filter: contrast(0.8);
  cursor: pointer;
  transition: -webkit-filter 0.25s ease; }
  /* line 56, /home/adam/development/rci/static/css/styles.sass */
  .social-media-icon:hover {
    -webkit-filter: contrast(1); }

/* line 58, /home/adam/development/rci/static/css/styles.sass */
.btn {
  transition: background-color 0.25s ease, color 0.25s ease; }

/* line 60, /home/adam/development/rci/static/css/styles.sass */
#home_carousel, .carousel-inner {
  max-height: 402px; }

/* line 64, /home/adam/development/rci/static/css/styles.sass */
.carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity; }

/* line 66, /home/adam/development/rci/static/css/styles.sass */
.carousel-fade .carousel-inner .carousel-item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  opacity: 0; }

/* line 68, /home/adam/development/rci/static/css/styles.sass */
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

/* line 70, /home/adam/development/rci/static/css/styles.sass */
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }

/* line 73, /home/adam/development/rci/static/css/styles.sass */
.carousel-fade .carousel-control {
  z-index: 2; }
