{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <div class="row no-gutter">
      <div class="col-sm-8">
        <div class="jumbotron bg-inverse" style="height:402px;">
          <h2 class="display-4">The story behind</h2>
          <h2 class="display-3" style="margin-left:100px;">
            <strong class="text-success">rci</strong>studios
          </h2>
          <hr class="m-y-2">
          <p class="lead text-xs-right" style="font-size:1.7em;">
            And what exactly <em><strong>does</strong></em>
            <strong class="text-success" style="font-size:2em;">rci</strong> stand for?
          </p>
        </div>
      </div>
      <div class="col-sm-4 bg-inverse">
        <img src="{% static 'images/adam.jpg' %}" style="max-height:402px;"/>
      </div>
    </div>
  </div>
{% endblock content %}
