{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <div class="row no-gutter">
      <div class="col-sm-7">
        <div class="jumbotron bg-inverse" style="height:368px;">
          <h2 class="display-4">The story behind</h2>
          <h2 class="display-3" style="margin-left:100px;">
            <strong class="text-success">rci</strong>studios
          </h2>
          <hr class="m-y-2">
          <p class="lead text-xs-right" style="font-size:1.7em;">
            And what exactly <em><strong>does</strong></em>
            <strong class="text-success" style="font-size:2em;">rci</strong> stand for?
          </p>
        </div>
      </div>
      <div class="col-sm-5 bg-inverse" style="overflow:hidden">
        <img src="{% static 'images/adam_large.jpg' %}" style="max-width:120%;margin-left:-45px"/>
      </div>
      <div class="col-sm-12">
        <div class="jumbotron">
          <p class="display-4"><strong>Adam George</strong></p>
          <p class="lead" style="font-size:1.7em;">
            The <strong>man</strong>, the <em>myth</em>, the <strong class="text-success">legend</strong>.
          </p>
          <hr class="m-y-2">
          <p>
            Adam George started <strong>rci</strong>studios in 2009 at the young age of 18,
            in his mom's basement. After recording a couple of his friends' bands,
            word got around about his work. More and more local, (and eventually out-of-town)
            bands starting getting in to <strong>rci</strong>studios to work with Adam.
            Having some serious struggles with GAS
            (<strong>G</strong>ear <strong>A</strong>cquisition <strong>S</strong>yndrome),
            Adam decided that gear doesn't totally make the product; the engineer does.
            He continued to move forward with the little gear he had, and only
            investing in gear that truly will make a difference in the end result;
            focusing almost entirely on how he <strong>himself,</strong> could produce
            a killer track. His hard work paid off, and over the years have attracted
            bigger and bigger clients, including: Ice Nine Kills (Fearless Records),
            and So Last Year (Independent).
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
